@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-color : #0ec99e;
    /* --text-color : #9D9D9D */
    --text-color : #d1d5db;
    --background-color: #0A1929;
    --red : #FE0000
}